moodle-docker/assets/
moodle-docker/bin/
moodle-docker/tests/
moodle-docker/.gitpod.yml
moodle-docker/base.yml
moodle-docker/bbb-mock.yml
moodle-docker/behat-faildump.yml
moodle-docker/config.docker-template.php
moodle-docker/db.mariadb.port.yml
moodle-docker/db.mariadb.yml
moodle-docker/db.mssql.port.yml
moodle-docker/db.mssql.yml
moodle-docker/db.mysql.5.6.yml
moodle-docker/db.mysql.5.7.yml
moodle-docker/db.mysql.port.yml
moodle-docker/db.mysql.yml
moodle-docker/db.oracle.port.yml
moodle-docker/db.oracle.yml
moodle-docker/db.pgsql.port.yml
moodle-docker/db.pgsql.yml
moodle-docker/LICENSE
moodle-docker/matrix-mock.yml
moodle-docker/mlbackend.yml
moodle-docker/moodle-app-dev.yml
moodle-docker/moodle-app.yml
moodle-docker/phpunit-external-services.yml
moodle-docker/README.md
moodle-docker/selenium.chrome.yml
moodle-docker/selenium.debug.yml
moodle-docker/service.mail.yml
moodle-docker/volumes-cached.yml
moodle-docker/webserver.port.yml
.DS_Store

MoodleMetrics/target/
MoodleMetrics/.idea

moodle-docker/moodle_pg/
moodle-docker/moodledata/
